.Banner_White_Title,.Banner_Description,.Lineas_Description,.Body_Title_Black,.Body_SubTitle_Black,.Body_Title_White,.Body_SubT_3_White,.Descrip_Menu_Acordeon,.Menu_Acordeon_Titulo,.Body_subTitle_White
{
	font-family: open-sans-n3, sans-serif;
}

.Testimonials-Heading
{
	font-family: open-sans-n7, sans-serif;
}

.Banner_Pics_Description
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Testimonials-info
{
	font-family: open-sans-n4, sans-serif;
}

.Testimonials-Text
{
	font-family: open-sans-i4, sans-serif;
}

#u243-4
{
	font-family: open-sans-n4, sans-serif;
}

#u247-4
{
	font-family: open-sans-n4, sans-serif;
}

#u245-4
{
	font-family: open-sans-n4, sans-serif;
}

