.version.index /* version checker */
{
	color: #0000F0;
	background-color: #18CE3E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.6749999999847px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -574px;
	width: 0.01px;
}

#u75
{
	z-index: 3;
	height: 445px;
	border-color: #000000;
	background-color: #222222;
}

#u75-bw
{
	z-index: 3;
	height: 445px;
}

#pu79-4
{
	width: 0.01px;
	padding-bottom: 329px;
	margin-left: 42px;
	margin-top: -408px;
}

#u79-4
{
	z-index: 7;
	width: 386px;
	min-height: 139px;
	background-color: transparent;
	position: fixed;
	top: 107px;
	left: 42px;
}

#u80-4
{
	z-index: 11;
	width: 353px;
	min-height: 94px;
	background-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	line-height: 17px;
	position: fixed;
	top: 272px;
	left: 59px;
}

#u78
{
	z-index: 6;
	width: 470px;
	height: 191px;
	position: fixed;
	top: 37px;
	left: 490px;
	background: transparent url("../images/01_logo_addvalue_ctrl_i2.png") no-repeat center center;
	background-size: contain;
}

#u76
{
	z-index: 4;
	width: 438px;
	height: 85px;
	position: fixed;
	top: 245px;
	left: 501px;
	background: transparent url("../images/addvaluetxt.png") no-repeat center center;
	background-size: cover;
}

#u77
{
	z-index: 5;
	width: 381px;
	height: 24px;
	position: fixed;
	top: 342px;
	left: 529px;
	background: transparent url("../images/inversionestxt.png") no-repeat center center;
	background-size: contain;
}

#u376
{
	z-index: 212;
	width: 728px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: #1E5A84;
	margin-left: 116px;
	margin-top: 35px;
	position: relative;
}

#u111-4
{
	z-index: 32;
	width: 960px;
	min-height: 47px;
	background-color: transparent;
	line-height: 41px;
	margin-top: 35px;
	position: relative;
}

#u112-4
{
	z-index: 36;
	width: 960px;
	min-height: 27px;
	background-color: transparent;
	color: #666666;
	line-height: 24px;
	margin-top: 16px;
	position: relative;
}

#ppu109
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 51px;
}

#pu109
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u109
{
	z-index: 30;
	width: 125px;
	height: 125px;
	margin-left: 40px;
	position: relative;
	background: transparent url("../images/addvalue_black.jpg") no-repeat left top;
	background-size: contain;
}

#u106-4
{
	z-index: 21;
	width: 205px;
	min-height: 233px;
	background-color: transparent;
	margin-top: 27px;
	position: relative;
}

#u104
{
	z-index: 16;
	width: 20px;
	height: 351px;
	background-color: #D6D6D6;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#pu110
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 364px;
}

#u110
{
	z-index: 31;
	width: 125px;
	height: 125px;
	margin-left: 40px;
	position: relative;
	background: transparent url("../images/forestal-logo.jpg") no-repeat left top;
	background-size: contain;
}

#u107-4
{
	z-index: 25;
	width: 205px;
	min-height: 232px;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#u103
{
	z-index: 15;
	width: 20px;
	height: 351px;
	background-color: #D6D6D6;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	left: 659px;
}

#pu108
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 716px;
}

#u108
{
	z-index: 29;
	width: 125px;
	height: 125px;
	margin-left: 40px;
	position: relative;
	background: transparent url("../images/addminds.png") no-repeat left top;
	background-size: contain;
}

#u105-4
{
	z-index: 17;
	width: 205px;
	min-height: 232px;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#u137
{
	z-index: 2;
	min-height: 649px;
	border-color: #000000;
	background-color: #666666;
}

#u137_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 67px;
	padding-bottom: 351px;
}

#u154-4
{
	z-index: 82;
	width: 960px;
	min-height: 56px;
	background-color: transparent;
	line-height: 41px;
	left: 100px;
	position: relative;
}

#u153-4
{
	z-index: 78;
	width: 820px;
	min-height: 56px;
	background-color: transparent;
	line-height: 22px;
	left: 170px;
	margin-top: 9px;
	position: relative;
}

#pu155-4
{
	width: 0.01px;
	left: 117px;
	margin-top: 39px;
	position: relative;
}

#u155-4
{
	z-index: 86;
	width: 230px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u156-4
{
	z-index: 90;
	width: 264px;
	min-height: 59px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 276px;
}

.js #u155-4.ose_pre_init,.js #u156-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u137-bw
{
	z-index: 2;
	min-height: 649px;
	margin-top: 47px;
}

#pu151-4
{
	width: 0.01px;
	padding-bottom: 367px;
	margin-left: 18px;
	margin-top: -429px;
}

#u151-4
{
	z-index: 74;
	width: 229px;
	min-height: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1489px;
	left: 18px;
}

#u138-22
{
	z-index: 40;
	width: 229px;
	min-height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1588px;
	left: 18px;
}

#u149
{
	z-index: 46;
	width: 16px;
	background-color: transparent;
}

#u143
{
	z-index: 54;
	width: 16px;
	background-color: transparent;
}

#u146
{
	z-index: 62;
	width: 16px;
	background-color: transparent;
}

#u138-5,#u138-10,#u138-15,#u138-20
{
	line-height: 30px;
}

#u138,#u138-6,#u138-11,#u138-16
{
	font-size: 1px;
	line-height: 0px;
}

#u140
{
	z-index: 70;
	width: 16px;
	background-color: transparent;
}

#u149_img,#u143_img,#u146_img,#u140_img
{
	vertical-align: bottom;
}

#accordionu157
{
	z-index: 94;
	width: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1489px;
	left: 294px;
}

#u162
{
	z-index: 95;
	width: 264px;
	background-color: transparent;
	position: relative;
}

#u165-4
{
	z-index: 96;
	width: 254px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	position: relative;
}

#u165-4:active
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 32px;
	width: 254px;
	margin: 0px;
}

#u163
{
	z-index: 100;
	width: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u164-4
{
	z-index: 101;
	width: 254px;
	min-height: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u166
{
	z-index: 105;
	width: 264px;
	background-color: transparent;
	position: relative;
}

#u169-4
{
	z-index: 106;
	width: 254px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	position: relative;
}

#u169-4:active
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 32px;
	width: 254px;
	margin: 0px;
}

#u167
{
	z-index: 110;
	width: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u168-4
{
	z-index: 111;
	width: 255px;
	min-height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u158
{
	z-index: 115;
	width: 264px;
	background-color: transparent;
	position: relative;
}

#u159-4
{
	z-index: 116;
	width: 254px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	position: relative;
}

#u159-4:active
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 32px;
	width: 254px;
	margin: 0px;
}

#u165-4.AccordionPanelTabOpen,#u169-4.AccordionPanelTabOpen,#u159-4.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	background-color: #1E5A84;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 32px;
	width: 254px;
	margin: 0px;
}

#u160
{
	z-index: 120;
	width: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
}

#u161-13
{
	z-index: 121;
	width: 214px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u161-11 > #u161-2:before,#u161-11 > #u161-4:before,#u161-11 > #u161-6:before,#u161-11 > #u161-8:before,#u161-11 > #u161-10:before
{
	margin-right: 4px;
}

#u161-11.rtl-list > #u161-2:before,#u161-11.rtl-list > #u161-4:before,#u161-11.rtl-list > #u161-6:before,#u161-11.rtl-list > #u161-8:before,#u161-11.rtl-list > #u161-10:before
{
	margin-right: 0px;
	margin-left: 4px;
}

#pamphletu381
{
	z-index: 214;
	width: 0.01px;
	height: 367px;
	position: fixed;
	top: 1404px;
	left: 596px;
}

#u406
{
	z-index: 215;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 357px;
	left: 73px;
}

#u408
{
	position: absolute;
	width: 35px;
	height: 9px;
	border-color: #DEDEDE;
	background-color: #D1D1D1;
}

#u408:hover
{
	border-color: #999999;
	background-color: #D1D1D1;
	width: 35px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

#u408.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #8CC63F;
	border-radius: 0px;
	width: 35px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

#u384
{
	position: absolute;
	width: 329px;
	background-color: transparent;
}

#u384popup
{
	z-index: 217;
}

#u385
{
	z-index: 218;
	width: 329px;
	height: 342px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

.Style
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u386
{
	z-index: 219;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 14px;
}

#u387-4
{
	z-index: 227;
	width: 224px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u391-6
{
	z-index: 221;
	width: 266px;
	min-height: 173px;
	background-color: transparent;
	color: #FFFFFF;
	margin-left: 16px;
	margin-top: 17px;
	position: relative;
}

#u389
{
	z-index: 220;
	width: 300px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 17px;
	position: relative;
}

#u389_position_content
{
	padding-bottom: 18px;
}

#u392
{
	z-index: 239;
	width: 300px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #EEF3F9;
	position: relative;
}

#u388-4
{
	z-index: 231;
	width: 218px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 66px;
	margin-top: 19px;
	position: relative;
}

#u390-4
{
	z-index: 235;
	width: 218px;
	min-height: 15px;
	background-color: transparent;
	margin-left: 66px;
	margin-top: 3px;
	position: relative;
}

#u390-2
{
	color: #0071BC;
}

#pu404
{
	position: absolute;
	width: 0.01px;
	top: 115px;
	left: 334px;
}

#u404
{
	position: absolute;
	width: 30px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: #1E5884;
}

#u405-4
{
	z-index: 242;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu402
{
	position: absolute;
	width: 0.01px;
	top: 166px;
	left: 334px;
}

#u402
{
	position: absolute;
	width: 30px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: #1E5884;
}

#pu404:hover #u404,#pu402:hover #u402
{
	width: 29px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u403-4
{
	z-index: 249;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu404 #u405-4,#pu402 #u403-4
{
	position: relative;
	width: 20px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 5px;
}

#pu404:hover #u405-4,#pu402:hover #u403-4
{
	position: relative;
	width: 20px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* accordion */
{
	cursor: pointer;
}

#pamphletu238
{
	z-index: 134;
	width: 0.01px;
	height: 544px;
	padding-bottom: 1px;
	margin-left: 660px;
	margin-top: 35px;
	position: relative;
}

#u241
{
	z-index: 135;
	width: 108px;
	position: relative;
	margin-right: -10000px;
	margin-top: 489px;
	left: 90px;
}

#pu242
{
	position: absolute;
	width: 0.01px;
	top: 19px;
	left: -31px;
}

#u242
{
	position: absolute;
	width: 168px;
	height: 17px;
	border-width: 1px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
}

#pu242.PamphletThumbSelected #u242
{
	width: 169px;
	height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: #1E5A84;
	border-radius: 6px 0px 0px 6px ;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u243-4
{
	z-index: 138;
	width: 108px;
	min-height: 19px;
	background-color: transparent;
	line-height: 16px;
	color: #6B6B6B;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#pu242:hover #u243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 108px;
}

#pu242.PamphletThumbSelected #u243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	position: relative;
	width: 108px;
	margin-right: -10000px;
	left: 31px;
	min-height: 19px;
}

#pu242:hover #u243-4 p
{
	color: #4EB2F0;
	visibility: inherit;
}

#pu242 #u243-4
{
	margin-bottom: -1px;
	position: relative;
	width: 108px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 30px;
}

#pu246
{
	position: absolute;
	width: 0.01px;
	top: 37px;
	left: -31px;
}

#u246
{
	position: absolute;
	width: 169px;
	height: 19px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	border-width: 1px 0px;
}

#u247-4
{
	z-index: 145;
	width: 108px;
	min-height: 19px;
	background-color: transparent;
	line-height: 16px;
	color: #6B6B6B;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#pu246:hover #u247-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 108px;
}

#pu246.PamphletThumbSelected #u247-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 31px;
	min-height: 19px;
}

#pu246:hover #u247-4 p
{
	color: #4EB2F0;
	visibility: inherit;
}

#pu246 #u247-4
{
	position: relative;
	width: 108px;
	margin-right: -10000px;
	left: 31px;
}

#pu244
{
	position: absolute;
	width: 0.01px;
	top: -1px;
	left: -31px;
}

#u244
{
	position: absolute;
	width: 168px;
	height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
}

#pu246.PamphletThumbSelected #u246,#pu244.PamphletThumbSelected #u244
{
	width: 169px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #1E5A84;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u245-4
{
	z-index: 152;
	width: 108px;
	min-height: 19px;
	background-color: transparent;
	line-height: 16px;
	color: #6B6B6B;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#pu244:hover #u245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 108px;
}

#pu244.PamphletThumbSelected #u245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
	min-height: 19px;
}

#pu244:hover #u245-4 p
{
	color: #4EB2F0;
	visibility: inherit;
}

#pu242.PamphletThumbSelected #u243-4 p,#pu246.PamphletThumbSelected #u247-4 p,#pu244.PamphletThumbSelected #u245-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu244 #u245-4
{
	position: relative;
	width: 108px;
	margin-right: -10000px;
	left: 29px;
}

#u248
{
	position: absolute;
	width: 300px;
	background-color: transparent;
}

#u248popup
{
	z-index: 157;
}

#u249
{
	z-index: 158;
	width: 300px;
	height: 480px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #000000 url("../images/pexels-photo.jpg") no-repeat center center;
	background-size: cover;
}

#pu250
{
	z-index: 159;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 11px;
}

#u250
{
	z-index: 0;
	width: 277px;
	background-color: #FFFFFF;
	opacity: 0.46;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=46)";
	filter: alpha(opacity=46);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu251-7
{
	width: 0.01px;
	position: relative;
	left: 10px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 6px;
}

#u251-7
{
	z-index: 160;
	width: 257px;
	min-height: 243px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u251-2,#u251-3
{
	color: #39393A;
}

#u251-5
{
	text-align: left;
	line-height: 19px;
	color: #39393A;
}

#u254
{
	z-index: 167;
	width: 300px;
	height: 480px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #000000 url("../images/download.jpg") no-repeat center center;
	background-size: cover;
}

#u255
{
	z-index: 168;
	width: 282px;
	height: 239px;
	background-color: #39393A;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 12px;
}

#u256-7
{
	z-index: 169;
	width: 262px;
	min-height: 238px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 22px;
}

#u256-2,#u256-3
{
	text-align: right;
}

#u256-5
{
	line-height: 19px;
}

#u252
{
	z-index: 176;
	width: 300px;
	height: 480px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #000000 url("../images/wi9yf7ktqxcney72ccy6_images%20of%20jenny%20lace%20plasticity%20publish%20(4%20of%2025).jpg") no-repeat center center;
	background-size: cover;
}

#u253-7
{
	z-index: 177;
	width: 279px;
	min-height: 258px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 11px;
}

#u253-2
{
	text-align: right;
	color: #000000;
}

#u253-3,#u253-5
{
	line-height: 19px;
	color: #000000;
}

#pu262
{
	width: 0.01px;
	margin-top: -539px;
}

#u262
{
	z-index: 184;
	width: 300px;
	min-height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u379
{
	z-index: 213;
	width: 351px;
	min-height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u338
{
	z-index: 185;
	min-height: 532px;
	border-style: none;
	border-color: transparent;
	background-color: #666666;
	padding-bottom: 20px;
}

#u338_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#pu350
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 99px;
}

#u350
{
	z-index: 211;
	width: 255px;
	min-height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 5px;
	position: relative;
}

#pu340
{
	width: 0.01px;
	margin-top: 27px;
}

#u340
{
	z-index: 190;
	width: 20px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/google-maps-coordinate_0.png") no-repeat left top;
	background-size: cover;
}

#u339-4
{
	z-index: 186;
	width: 212px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 26px;
}

#pu348
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 40px;
	margin-left: 380px;
}

#u348
{
	z-index: 210;
	width: 670px;
	min-height: 458px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 10px;
	position: relative;
}

#pu342
{
	width: 0.01px;
	margin-top: 12px;
}

#u342
{
	z-index: 195;
	width: 20px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/twitter-bird-white-on-blue.jpg") no-repeat left top;
	background-size: cover;
}

#u341-4
{
	z-index: 191;
	width: 160px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 25px;
}

#u344
{
	z-index: 200;
	width: 20px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 247px;
	background: #FFFFFF url("../images/phonecontacts.jpg") no-repeat left top;
	background-size: cover;
}

#u343-4
{
	z-index: 196;
	width: 160px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 272px;
}

#u347
{
	z-index: 209;
	width: 20px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 494px;
	background: transparent url("../images/icon-mail-light.png") no-repeat center center;
	background-size: contain;
}

#u346-4
{
	z-index: 205;
	width: 160px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 518px;
}

#u338-bw
{
	z-index: 185;
	min-height: 532px;
	margin-top: 54px;
}

#u345-4
{
	z-index: 201;
	width: 320px;
	min-height: 15px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	margin-left: 312px;
	margin-top: 15px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 50px;
	padding-bottom: 599px;
}

#page .verticalspacer
{
	clear: both;
}

